:root, #root {
  max-width: 100% !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #020617;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
